body {
	background: url("../images/bg.png") repeat scroll 0% 0% transparent;
}

.span4 {
	width: 500px;
}

.offset4 {
	margin-left: 365px;
}

a {
	color: #3AB0B2;
}

a:hover {
	text-decoration: underline;
	color: #3AB0B2;	
}

a.brand{
	color: #E7E7E7;
}

.btn.btn-blue{
background: #26019B;
box-shadow: none;
color: #FFF;
text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
border-bottom-style: solid;
border-bottom-width: 3px;
border-bottom-color: rgba(0, 0, 0, .3);
}

.btn.btn-lightblue{
box-shadow: none;
color: #FFF;
text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
border-bottom-style: solid;
border-bottom-width: 3px;
border-bottom-color: rgba(0, 0, 0, .3);
}

[class^="icon-"], [class*=" icon-"] {
color: #678CFF;
}

.icon-pencil {
	color: #26019B;
}

.btn.btn-blue:hover{
	background: #17015C;
}

.btn.btn-lightblue:hover{
	background: #296F8E;
}

.topo{
	background-color: #000000;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
}

.logo{
	margin-top: 40px;
}

.lead{
margin-top: 20px;
margin-bottom: 20px;
font-size: 21px;
font-weight: 200;
line-height: 30px;
color: black;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 600px;
}
