@charset "UTF-8";

.fil1 {
	fill: white;
}

.fil2 {
	fill: #A93235;	
}

.svgNormal {
	fill: #2F3B48;
}

.svgGreen {
    fill: #2F3B48;
}

.svgYellow {
    fill: #2F3B48;
}

.svgOrange {
    fill: #2F3B48;
}

.svgRed {
    fill: #2F3B48;
}
