/* Menu */

#menu-draggable {
	background-color: white;
    float: right;
    height: 400px;
    margin-right: 10px;
    position: relative;
    width: 60px;
	background-color: transparent;
	z-index: 100;
}

#menu-top-bar{
	position: relative;
	height: 20px;
	cursor: move;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	background-color: #D6D6D6;
}
 
#menu-center {
	
	background-image: linear-gradient(bottom, rgb(247,247,247) 12%, rgb(240,240,240) 56%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 12%, rgb(240,240,240) 56%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 12%, rgb(240,240,240) 56%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 12%, rgb(240,240,240) 56%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 12%, rgb(240,240,240) 56%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.12, rgb(247,247,247)),
	color-stop(0.56, rgb(240,240,240))
);

	position: relative;
	height: 545px;
	border-right: 2px solid #CFCFCF;
	border-left: 2px solid #CFCFCF;
	-webkit-box-shadow: inset 1px 1px 10px 0px #ccc;
	box-shadow: inset 1px 1px 10px 0px #ccc;
}

#menu-bottom-bar{
	background-color: #D6D6D6;
	position: relative;
	height: 3px;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	background-color: #CFCFCF;
}

#menu-top-bar p{
	color: #646464;
	text-align: center;
	font-weight: bold;
}

/*
Botoes
*/

.ul-menu{
	margin: 0 auto;
	list-style: none;	
}

.li-menu{
	width: 30px;
	margin: 0 auto;
	padding-top: 10%;
}

.a-menu {
text-align: center;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
background: #ECECEC;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FAFAFA),color-stop(100%,#ECECEC));
background-image: -webkit-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: -moz-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: -o-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: linear-gradient(top,#FAFAFA,#ECECEC);
border: 1px solid #D5D5D5;
-webkit-box-shadow: 0 0 0 1px #FAFAFA inset,0 1px 1px 0 #DDD;
-moz-box-shadow: 0 0 0 1px #fafafa inset,0 1px 1px 0 #dddddd;
box-shadow: 0 0 0 1px #FAFAFA inset,0 1px 1px 0 #DDD;
height: 30px;
width: 30px;
padding-top: 5px;
display: block;
font-weight: 700;
white-space: nowrap;
color: #626262;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.a-menu-clicked {
text-align: center;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
background: #08D1B1;
border: 1px solid #A5A5A5;
-webkit-box-shadow: 0 0 0 1px #FAFAFA inset,0 1px 1px 0 #DDD;
-moz-box-shadow: 0 0 0 1px #fafafa inset,0 1px 1px 0 #dddddd;
box-shadow: inset 0px 0px 5px 0px #08D1B1;
height: 30px;
width: 30px;
padding-top: 5px;
display: block;
font-weight: 700;
white-space: nowrap;
color: #FFF;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.a-menu-disabled {
text-align: center;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
background: #ECECEC;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FAFAFA),color-stop(100%,#ECECEC));
background-image: -webkit-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: -moz-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: -o-linear-gradient(top,#FAFAFA,#ECECEC);
background-image: linear-gradient(top,#FAFAFA,#ECECEC);
border: 1px solid #E7E7E7;
-webkit-box-shadow: 0 0 0 1px #FAFAFA inset,0 1px 1px 0 #DDD;
-moz-box-shadow: 0 0 0 1px #fafafa inset,0 1px 1px 0 #dddddd;
box-shadow: 0 0 0 1px #FAFAFA inset,0 1px 1px 0 #DDD;
height: 30px;
width: 30px;
padding-top: 5px;
display: block;
font-weight: 700;
white-space: nowrap;
color: #DADADA;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

hr.menu-sep {
	height: 1px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 10px;
border-bottom: 1px solid #F8F8F8;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,rgba(205, 205, 205, 0)),color-stop(50%,#CDCDCD),color-stop(100%,rgba(205, 205, 205, 0)));
background: -webkit-linear-gradient(left,rgba(205, 205, 205, 0),#CDCDCD,rgba(205, 205, 205, 0));
background: -moz-linear-gradient(left,rgba(205, 205, 205, 0),#CDCDCD,rgba(205, 205, 205, 0));
background: -o-linear-gradient(left,rgba(205, 205, 205, 0),#CDCDCD,rgba(205, 205, 205, 0));
background: linear-gradient(left,rgba(205, 205, 205, 0),#CDCDCD,rgba(205, 205, 205, 0));
}
